<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand text-primary" href="#"><i class="fa-solid fa-house">Federal Bank</i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
  
  
          </li>
  
        </ul>
  
  
        <li>
          <a routerLink="federalbank/login" class=" text-primary" type="submit">Sign In</a>
  
          <a routerLink="federalbank/register" class=" text-success" type="submit">Register</a>
  
        </li>
  
      </div>
    </div>
  </nav>
  
  <section>

  
    <div class="content">
  
      <img width="700px"
        src="https://thumbs.dreamstime.com/b/online-banking-web-banner-concept-making-financial-operations-such-as-payment-investment-using-digital-device-money-148131268.jpg"
        alt="">
  
  
      <div class="700px">
        <h2 class="text-primary">Welcome To <span class="">Federal Bank</span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam explicabo optio consequuntur, libero eius nobis
          maxime facilis fugit tempora in, mollitia maiores nisi, neque pariatur quia rerum autem rem eligendi! Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Maiores deleniti nesciunt eligendi quidem doloremque? Vitae
          voluptatibus quam quo voluptatem incidunt delectus voluptas consequuntur! Odit necessitatibus laboriosam ducimus
          a explicabo asperiores.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores deleniti nesciunt eligendi quidem doloremque?
          Vitae voluptatibus quam quo voluptatem incidunt delectus voluptas consequuntur! Odit necessitatibus laboriosam
          ducimus a explicabo asperiores.
        </p>
  
        <p  class="collapse" id="collapseExample">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi consectetur debitis adipisci ab atque, ducimus
          voluptas consequatur ullam quis quaerat, possimus reiciendis nisi? Pariatur, quasi beatae quas earum cupiditate
          odit.</p>
  
  
        <button (click)="collapse()" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          class="btn btn-success ">Read<span *ngIf="isCollapse">More</span> 
          <span *ngIf="!isCollapse">Less</span>
        </button>
  
  
      </div>
  
    </div>
  
  
  </section>

<div>

    <img  width="1150px" height="200px" src="https://static.vecteezy.com/system/resources/previews/000/694/611/non_2x/modern-flowing-blue-wave-banner-on-white-background-vector.jpg" alt="">

</div>
  

  <footer>

<p class="text-center">
        &copy; All Rights Reserved &reg; Federal Bank
    
</p>

  </footer>







  
  
  
  
  
