.container{

    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{

    list-style: none;


}

li a{

    text-decoration: none;

    margin-left: 10px;

    font-weight: 500;

}

.content{

display: flex;
align-items: center;
justify-content: space-evenly;

}